{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
 <link rel="shortcut icon" href="{{=URL('static','css/paper.jpg')}}">

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
{{block header}}
    <header class="container-fluid" id="back">
     <div class="jumbotron text-center">
      </div>
    </header>
{{end}}
<div style="background-color:#ffffff">
<h2 class="text-info">Search By: </h2>
<hr>
{{if 'message' in globals():}}
<!--<h2 class="middle">{{=message}}</h2>-->
<hr>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}

<form>
    <table>
        <tr>
            <th class="text-info">By Name</th>
            <th class="text-info">By Email</th>
            <th class="text-info">By Skills</th>
        </tr>
        <tr>
            <!--<td><br><input class="form-group" type='text' id='keyword' name='keyword' onkeyup="document.getElementById('task').value='as' ; ajax('callback',['keyword','keyword1','keyword2','keyword3','task'],'target');" ></td>
            <td><br><input class="form-group" type='text' id='keyword1' name='keyword1' onkeyup="document.getElementById('task').value='as' ; ajax('callback',['keyword','keyword1','keyword2','keyword3','task'],'target');" ></td>
            <td><br><input class="form-group" type='text' id='keyword2' name='keyword2' onkeyup="document.getElementById('task').value='as' ; ajax('callback',['keyword','keyword1','keyword2','keyword3','task'],'target');" ></td>
            <td><br><input class="form-group" type='text' id='keyword3' name='keyword3' onkeyup="document.getElementById('task').value='as' ; ajax('callback',['keyword','keyword1','keyword2','keyword3','task'],'target');" ></td>
            <td><a class="btn btn-primary" onclick="document.getElementById('task').value='as' ; ajax('callback',['keyword','keyword1','keyword2','keyword3','task'],'target');">Sort Ascending <i class="fa fa-sort-asc"></i></a></td>
            <td><a class="btn btn-info" onclick="document.getElementById('task').value='des' ; ajax('callback',['keyword','keyword1','keyword2','keyword3','task'],'target');">Sort Descending <i class="fa fa-sort-desc"></i></a></td>
            <td><a class="btn btn-danger" onclick="document.getElementById('task').value='sortcg' ; ajax('callback',['keyword','keyword1','keyword2','keyword3','task'],'target');">Sort By GPA<i class="icon-sort-by-order-alt"></i></a></td>-->
            <td><br><input class="form-group form-control" type='text' id='keyword' name='keyword' onkeyup="document.getElementById('task').value='as' ; ajax('callback',['keyword','keyword1','keyword2','task'],'target');myfunc();" ></td>
            <td><br><input class="form-group form-control" type='text' id='keyword1' name='keyword1' onkeyup="document.getElementById('task').value='as' ; ajax('callback',['keyword','keyword1','keyword2','task'],'target');myfunc();" ></td>
            <td><br><input class="form-group form-control" type='text' id='keyword2' name='keyword2' onkeyup="document.getElementById('task').value='as' ; ajax('callback',['keyword','keyword1','keyword2','task'],'target');myfunc();" ></td>
            <td><a class="btn btn-primary" onclick="document.getElementById('task').value='as' ; ajax('callback',['keyword','keyword1','keyword2','task'],'target');myfunc();">Sort Ascending <i class="fa fa-sort-asc"></i></a></td>
            <td><a class="btn btn-info" onclick="document.getElementById('task').value='des' ; ajax('callback',['keyword','keyword1','keyword2','task'],'target');myfunc();">Sort Descending <i class="fa fa-sort-desc"></i></a></td>
            <td><a class="btn btn-danger" onclick="document.getElementById('task').value='sortcg' ; ajax('callback',['keyword','keyword1','keyword2','task'],'target');myfunc();">Sort By GPA<i class="icon-sort-by-order-alt"></i></a></td>
        </tr>
    </table>
</form>
<input class="form-group" type='hidden' id="task" name='task' />
    
<div id="target"></div>
{{pass}}

{{block right_sidebar}}

{{end}}
</div>
<style>
   
    hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0; 
}
    table,tr,td,th 
    {
     padding:10px;
    }
    table
    {
        margin-left:100px;
    }
    div a
    {
        color:red;
    }
    div div
    {
        padding:5px;
        display:inline;
    }
    body{
        overflow-x:hidden;
    }
    
</style>
<script>
    function myfunc()
    {
     document.getElementsByClassName("myclass").innerHTML+='<i class="fa fa-user"></i>';
    }
</script>
