{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid" id="back">
      <div class="jumbotron text-center">
      </div><br><br><br><br><br><br><br><br><br>
    </header>
{{end}}
<div style="background-color:#ffffff">
<h2>Search By: </h2>
<hr>
{{if 'message' in globals():}}
<!--<h2 class="middle">{{=message}}</h2>-->
<hr>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}

<form>
    <table>
        <tr>
            <th>By Name</th>
            <th>By Email</th>
        </tr>
        <tr>
            <td><input type='text' id='keyword' name='keyword' onkeyup="document.getElementById('task').value='as' ; ajax('callback',['keyword','keyword1','task'],'target');" ></td>
            <td><input type='text' id='keyword1' name='keyword1' onkeyup="document.getElementById('task').value='as' ; ajax('callback',['keyword','keyword1','task'],'target');" ></td>
            <td><a onclick="document.getElementById('task').value='as' ; ajax('callback',['keyword','keyword1','task'],'target');">Sort Ascending</a></td>
            <td><a onclick="document.getElementById('task').value='des' ; ajax('callback',['keyword','keyword1','task'],'target');">Sort Descending</a></td>
        </tr>
    </table>
</form>
<!--Updated upstream
<input type='text' id="task" name='task' >-->
<input style="margin:5px" type='text' id="task" name='task' >
<div id="target"></div>
<!--Stashed changes-->
{{pass}}

{{block right_sidebar}}

{{end}}
</div>
<style>
    hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}
    table,tr,td
    {
     padding:5px;
    }
    div a
    {
        color:red;
    }
    div div
    {
        padding:5px;
        display:inline;
    }

</style>
