{{extend 'layout.html'}}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<body>
    <div id='c1' class='text-center'>
        {{if auth.has_membership('admin'):}}
<b>Welcome System Admin : {{=A("Manage Database", _href=URL('manage', args=[]))}}</b>
{{pass}}
           <h1 class="railway"><b>{{=response.title}}</b></h1><br>
          <h2 class="railway"><b>{{=response.subtitle or ''}}</b></h2>
        <br><br>
  <a href="{{=URL('default','templates')}}"> <button class="btn btn-info btn-lg" id="but">Create Resume <i class="fa fa-plus"></i></button></a>
    </div>
</body>
<style>
    body
    {
        margin-top:100px;
        background: transparent url("{{=URL('static','images/jobfinder1.jpg')}}") no-repeat scroll center center / cover;
        width:100vw;
        height:100vh;
        overflow-x: hidden;
    }
    h1{
        font-size:90px;
    }
</style>
<br><br>
<div class="help text-right"><h3 class="railway aa">Worried what to do ? Try This -> </h3><a href="{{=URL('default','helping')}}"> <button class="btn btn-danger" id="but">HELP</button></a></div>
<style>
    .aa
    {
        display:inline-block;
    }
</style>
