{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid" id="background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}</h1><br>
         <h3 style="color:white">{{=response.subtitle or ''}}</h3>
        {{pass}}<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </header>
{{end}}
<marquee><h1 style="color:black">
    Welcome to Resume Builder
    </h1></marquee>

{{if 'message' in globals():}}
<h2>{{=message}}</h2>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}
{{end}}
