{{extend 'layout.html'}}
<h1>This is the default/moreresume.html template</h1>

<table>
        <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Summary</th>
        <th>Works</th>
        <th>Education</th>
        <th>Add Info</th>
    </tr>
    {{for i in f:}}
    <tr>
        <td>{{=i.name}}</td>
        <td>{{=i.email}}</td>
        <td>{{=i.summary}}</td>
        <td>{{=i.works}}</td>
        <td>{{=i.education}}</td>
        <td>{{=i.addinfo}}</td>
         <td>{{=A('Know More',_href=URL('default', 'info', args=[i.uploadedby]), _class="btn btn-default")}}</td>

    </tr>
     {{more=i.id}}
    <tr><td>
      <div class="btn-group" >
        {{more=i.id}}
        {{=A('Mark Resume',callback=URL('default', 'markresume', args=[i.id]),target='change', _class="button", _id="button3")}}
        {{=A('Unmark Resume',callback=URL('default', 'markresume', args=[i.id]),target='change', _class="button", _id="button2")}}
    </div>
  </td></tr>
    {{pass}}
</table>
<br>
{{ if commenta:}}
<h3>Comments</h3>
<br>
{{ for i in commenta:}}
    <b>{{=db.auth_user[i.userid].first_name}} {{=db.auth_user[i.userid].last_name}}</b> :
  {{=i.body}} {{if i.userid == auth.user.id:}} : {{=A('Delete',_href=URL('deletecomment',args=[i.id,more]))}} {{pass}}<br>
{{pass}}
{{pass}}
<br>
<h3>Post A Comment: </h3>
{{=form}}
<div id="change" style="visibility:hidden"></div>
<style>
    table,td,th,tr{
        padding:15px;
    }
    .button {
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
    }
    #button3 {
        background-color: white;
        color: black;
        border: 2px solid #f44336;
    }

    #button3:hover {
        text-decoration:none;
        background-color: #f44336;
        color: white;
    }

    #button2{
            text-decoration:none;
            background-color: #f44336;
            color: white;
            border: 2px solid #f44336;
    }
    body
    {
        overflow-x:hidden;
    }
</style>
<script>
    {{if (check==True):}}
        jQuery('#button3').hide();
    {{else:}}
        jQuery('#button2').hide();
    {{pass}}
    jQuery('#button3').click(function(){jQuery('#button3').hide();jQuery('#button2').show()});
    jQuery('#button2').click(function(){jQuery('#button2').hide();jQuery('#button3').show()});
</script>
