{{extend 'layout.html'}}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<span id="searh"><b>Can't Find your desired resume : </b> <a href="{{=URL('default','findresume')}}">Search Here :)</a></span>
<br>
<h1 class="text-center text-info">My Resumes
</h1>
<br>
{{if dat:}}
<table id="tab" class="table-hover table-responsive">

    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Summary</th>
        <th>Edit</th>
        <th>More Info</th>
        <th>Delete</th>
    </tr>
    {{for i in dat: }}
    <tr>
        <td>{{=i.name}}</td>
        <td>{{=i.email}}</td>
        <td>{{=i.summary}}</td>
        <td><a class='btn btn-primary' href="{{=URL('editresume', args=[ i.id ])}}">EDIT <i class="fa fa-pencil-square-o"></i></a></td>
        <td><a class='btn btn-info' href="{{=URL('templates1', args=[ i.id ])}}">MORE <i class="fa fa-list"></i></a></td>
        <td><a class='btn btn-danger' onclick='if(confirm("Do you really want to delete?")){window.location.href ="{{=URL('deleteresume', args=[ i.id ])}}"}' >DELETE <i class="fa fa-trash"></i></a></td>
    </tr>
    {{pass}}
</table>
<br>
<br>
<script>
    function myfunc(link)
    {
        var a=confirm("Do you really want to delete ?");
        if (a)
                window.location.href = link;
    }
</script>
<div id='righ'>
    {{ if pag !=1 : }}
    <a class='link' href={{=URL(vars={'page':int(request.vars.page)-1})}}><img src="{{=URL('static','images/left.jpg')}}" style="width:50px; height:50px;"/></a>
    {{pass}}
    {{ if ret == 0:}}
    <a class='link' href={{=URL(vars={'page':int(request.vars.page)+1})}}><img src="{{=URL('static','images/right.jpg')}}" style="width:50px; height:50px;"/></a>
    {{pass}}
    <br><b>Page No . {{=request.vars.page}}</b></div>
<div>
    {{else:}}
    <div class="vertical-center">
     <h2 class="container text-center text-muted">
        <br><br><br>
        No resumes to be displayed here.<br>
    </h2>
    </div>
    {{pass}}
<style>
        #righ{
        position:fixed;
        bottom:0vw;
        width:90vw;
        text-align:center;
        z-index:10000;
        color:orange;
    }
    #tab{
        width:95vw;
    }

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 25px;
}
    caption{
        text-align:center;
        font-size:20px;
    }
    img {
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
        hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}
            #searh{
        position:absolute;
        right:0;
        margin-right:20px;
    }
        img{
     -webkit-border-radius: 64px;
    -moz-border-radius: 64px;
    -ms-border-radius: 64px;
    -o-border-radius: 64px;
    border-radius: 64px;
    }
img:hover {
    transform: scale(1.5);
}
</style>
