{{extend 'layout.html'}}
<h1>This is the default/myresume.html template</h1>


<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Summary</th>
        <th>More Info</th>
        <th>More Info(beta)</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {{for i in dat:}}
    <tr>
        <td>{{=i.name}}</td>
        <td>{{=i.email}}</td>
        <td>{{=i.summary}}</td>
        <td>{{=A("MORE", _href=URL('moreresume', args=[ i.id ]))}}</td>
        <td>{{=A("MORE", _href=URL('templates1', args=[ i.id ]))}}</td>
        <td>{{=A("EDIT", _href=URL('editresume', args=[ i.id ]))}}</td>
        <td>{{=A("DELETE", _href=URL('deleteresume', args=[ i.id ]))}}</td>
    </tr>
    {{pass}}
</table>
<div id='righ'>
    {{ if pag !=1 : }}
    <a class='link' href={{=URL(vars={'page':int(request.vars.page)-1})}}><img src="/resume/static/images/left.jpg" style="width:50px; height:50px;"/></a>
    {{pass}}
    {{ if ret == 0:}}
    <a class='link' href={{=URL(vars={'page':int(request.vars.page)+1})}}><img src="/resume/static/images/right.jpg" style="width:50px; height:50px;"/></a>
    {{pass}}
    <br><b>Page No . {{=request.vars.page}}</b></div>
<div>
<style>
    table,td,th,tr{
        padding:15px;
    }
</style>
