{{extend 'layout.html'}}
 <link rel="shortcut icon" href="{{=URL('static','css/paper.jpg')}}">

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
{{for i in dat: }}
{{if i.Account_Type == ['Individual']:}}
<div class="maindiv">
<table>
    <tr><td class="text-muted" id="names" style="color:white">{{=i.first_name}} {{=i.last_name}}</td> 
    <td colspan='2'><img class="img-responsive" src="{{=URL('default', 'download', args=i.Profile_Photo)}}"></td></tr>
</table>
<table>
    <tr><td class="text-info" style="color:white">Account Type : {{=i.Account_Type}}</td></tr>  
    <tr><td class="text-muted" style="color:white">Gender : {{=i.gender}}</td></tr>    
    <tr><td class="text-muted" style="color:white">Nationality : {{=i.Nationality}}</td></tr>
    <tr><td class="text-muted" style="color:white">Contact No : {{=i.Contact_Number}}</td></tr>
    <tr><td class="text-muted" style="color:white">DOB : {{=i.Date_of_Birth}}</td></tr>
    <tr><td class="text-muted" style="color:white">Email ID : {{=i.email}}</td></tr>
 </table>
</div><br><br><br>
{{else:}}
<div class="maindiv">
<table>
    <tr><td class="text-muted" id="names">{{=i.Company_Name}}</td> 
    <td colspan='2'><img src="{{=URL('default', 'download', args=i.Profile_Photo)}}"></td></tr>
</table>
<table>
    <tr><td class="text-muted" style="color:white">Account : {{=i.Account_Type}}</td></tr>   
            <tr><td class="text-muted" style="color:white">Company Location : {{=i.Company_Location}}</td></tr> 
          <tr><td class="text-muted" style="color:white">City : {{=i.City}}</td></tr> 
    <tr><td class="text-muted" style="color:white">Country : {{=i.Country}}</td></tr>
    <tr><td class="text-muted" style="color:white">Contact No : {{=i.Contact_Number}}</td></tr>
    <tr><td class="text-muted" style="color:white">Email ID : {{=i.email}}</td></tr>
 </table>
</div><br><br><br>
{{pass}}

{{pass}}
<style>
    img{
        width:250px;
        height:250px;
     -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    border-radius: 1000px;
    }
    #names{
        font-size:50px;
    }
    table
    {
            width:90vw;
            text-align:center;
        font-size:30px


    }
table, th, td {
    border-collapse: collapse;
            padding:10px;

}
body
    {
        margin-top:100px;
        background: transparent url("{{=URL('static','images/night.png')}}") no-repeat scroll center center / cover;
        width:100vw;

        overflow-x: hidden;
    }
    
        img {
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
        }
img:hover {
    transform: scale(1.1);
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0; 
}
</style>
