{{extend 'layout.html'}}
 <link rel="shortcut icon" href="{{=URL('static','css/paper.jpg')}}">

{{=BEAUTIFY(response._vars)}}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="{{=URL('static', 'css/w3.css')}}">
<style>
        div
        {
            text-align:center;
        }
    </style>
<div class="w3-container w3-teal">
<h1>Choose a template to continue</h1>
</div>
<div style="background-color:lightgray;">
<br>
<br>
{{var=1}}
<div class="w3-row-padding w3-margin-top">
<a href="{{=URL('default', 'moreresume1',args=[ request.args(0) , var ])}}">
<div class="w3-third" style="text-align:center">
<div class="w3-hover-shadow" style="width:90%">
<img src="{{=URL('static', 'images/T1.png')}}" style="width:100%">
<div class="w3-container" style="background-color:white;">
<h4>Template 1</h4>
</div>
</div>
</div>
</a>
{{var=2}}
<a href="{{=URL('default', 'moreresume1', args=[ request.args(0) , var ])}}">
<div class="w3-third">
<div class="w3-hover-shadow" style="width:90%">
<img src="{{=URL('static', 'images/T2.png')}}" style="width:100%">
<div class="w3-container" style="background-color:white;">
<h4>Template 2</h4>
</div>
</div>
</div>
</a>
{{var=3}}
<a href="{{=URL('default', 'moreresume1', args=[ request.args(0) , var ])}}">
<div class="w3-third">
<div class="w3-hover-shadow" style="width:90%">
<img src="{{=URL('static', 'images/T3.png')}}" style="width:100%">
<div class="w3-container" style="background-color:white;">
<h4>Template 3</h4>
</div>
</div>
</div>
</a>


</div>
<br>
<br>
<div class="w3-row-padding w3-margin-top">
{{var=4}}
<a href="{{=URL('default', 'moreresume1', args=[ request.args(0) , var ])}}">
<div class="w3-third">
<div class="w3-hover-shadow" style="width:90%">
<img src="{{=URL('static', 'images/T4.png')}}" style="width:100%">
<div class="w3-container" style="background-color:white;">
<h4>Template 4</h4>
</div>
</div>
</div>
</a>

{{var=5}}
<a href="{{=URL('default', 'moreresume1', args=[ request.args(0) , var ])}}">
<div class="w3-third">
<div class="w3-hover-shadow" style="width:90%">
<img src="{{=URL('static', 'images/T5.png')}}" style="width:100%">
<div class="w3-container" style="background-color:white;">
<h4>Template 5</h4>
</div>
</div>
</div>
</a>

{{var=6}}
<a href="{{=URL('default', 'moreresume1', args=[ request.args(0) , var ])}}">
<div class="w3-third">
<div class="w3-hover-shadow" style="width:90%">
<img src="{{=URL('static', 'images/T6.png')}}" style="width:100%">
<div class="w3-container" style="background-color:white;">
<h4>Template 6</h4>
</div>
</div>
</div>
</a>

</div>
<br>
<br>
{{var=7}}
<div class="w3-row-padding w3-margin-top">
<a href="{{=URL('default', 'moreresume1', args=[ request.args(0) , var ])}}">
<div class="w3-third" style="text-align:center">
<div class="w3-hover-shadow" style="width:90%">
<img src="{{=URL('static', 'images/T7.png')}}" style="width:100%">
<div class="w3-container" style="background-color:white;">
<h4>Template 7</h4>
</div>
</div>
</div>
</a>
{{var=8}}
<a href="{{=URL('default', 'moreresume1', args=[ request.args(0) , var ])}}">
<div class="w3-third">
<div class="w3-hover-shadow" style="width:90%">
<img src="{{=URL('static', 'images/T8.png')}}" style="width:100%">
<div class="w3-container" style="background-color:white;">
<h4>Template 8</h4>
</div>
</div>
</div>
</a>
{{var=9}}
<a href="{{=URL('default', 'moreresume1', args=[ request.args(0) , var ])}}">
<div class="w3-third">
<div class="w3-hover-shadow" style="width:90%">
<img src="{{=URL('static', 'images/T9.png')}}" style="width:100%">
<div class="w3-container" style="background-color:white;">
<h4>Template 9</h4>
</div>
</div>
</div>
</a>


</div>
<br>
<br>
<div class="w3-row-padding w3-margin-top">
{{var=10}}
<a href="{{=URL('default', 'moreresume1', args=[ request.args(0) , var ])}}">
<div class="w3-third">
<div class="w3-hover-shadow" style="width:90%">
<img src="{{=URL('static', 'images/T10.png')}}" style="width:100%">
<div class="w3-container" style="background-color:white;">
<h4>Template 10</h4>
</div>
</div>
</div>
</a>

{{var=11}}
<a href="{{=URL('default', 'moreresume1', args=[ request.args(0) , var ])}}">
<div class="w3-third">
<div class="w3-hover-shadow" style="width:90%">
<img src="{{=URL('static', 'images/T11.png')}}" style="width:100%">
<div class="w3-container" style="background-color:white;">
<h4>Template 11</h4>
</div>
</div>
</div>
</a>

{{var=12}}
<a href="{{=URL('default', 'moreresume1', args=[ request.args(0) , var ])}}">
<div class="w3-third">
<div class="w3-hover-shadow" style="width:90%">
<img src="{{=URL('static', 'images/T12.png')}}" style="width:100%">
<div class="w3-container" style="background-color:white;">
<h4>Template 12</h4>
</div>
</div>
</div>
</a>


</div>
<br>
<br>
</div>
