{{extend 'layout.html'}}
<style>
{{if request.args(1)=='1':}}
#JSFiddle div.block p {
    line-height: 1.4em;
    margin: 0 0 .6em
}

#JSFiddle div.block p.sub-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0
}

#JSFiddle div.block p.sub-where {
    font-size: 1.1em;
    margin: 0
}

#JSFiddle div.block p.sub-dates {
    font-size: 1em;
    color: #555;
    margin: 0 0 .5em
}

#JSFiddle div.block p.person {
    font-size: 4em;
    margin-bottom: 0;
    line-height: 1.2em;
    margin-top: -.2em
}

#JSFiddle div.block p.jobtitle {
    font-size: 1.2em;
    margin: 0
}

#JSFiddle div.block p.location {
    font-size: 1em;
    color: #555
}

#JSFiddle div.block span.company {
    color: #555;
    font-weight: bold
}

#JSFiddle div.block p.title {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: .5em;
    background: #eee;
    padding: .2em .5em
}

#JSFiddle div.block.person {
    margin: 0;
}

#JSFiddle table.wide {
    width: 100%;
    border-collapse: collapse
}

#JSFiddle td.left {
    width: 30%;
    vertical-align: top
}

#JSFiddle td.right {
    width: 70%;
    vertical-align: top
}
{{pass}}



{{if request.args(1)=='2':}}
#JSFiddle div.block p {
    line-height: 1.4em;
    margin: 0 0 .6em
}

#JSFiddle div.blocks * {
    line-height: 1.4em
}

#JSFiddle div.block p.person {
    font-size: 3em;
    margin-bottom: 0;
    padding: 0 .2em;
    line-height: 1em
}

#JSFiddle div.block p.jobtitle {
    font-size: 1.2em;
    margin: .5em 0 0;
    border-top: 1px solid #a77;
    padding: .3em 10px 0 0
}

#JSFiddle div.block p.location {
    font-size: 1em;
    color: #fff;
    padding-right: 10px
}

#JSFiddle div.block p.title {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: .5em;
    color: #800
}

#JSFiddle div.block p.sub-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0
}

#JSFiddle div.block p.sub-where {
    font-size: 1.1em;
    margin: 0
}

#JSFiddle div.block p.sub-dates {
    font-size: 1em;
    color: #555;
    margin: 0 0 .5em
}

#JSFiddle div.block span.company {
    color: #555;
    font-weight: bold
}

#JSFiddle div.blocks {
    padding-top: 13em
}

#JSFiddle div.block.person {
    margin-top: 15mm;
    text-align: right;
    border-color: transparent
}

#JSFiddle div.block.contact {
    margin: 15mm 8.13953488372093% 0 1em !important;
    border-color: transparent;
    font-size: 1.2em;
    color: #555
}

#JSFiddle table.wide {
    position: absolute;
    width: 210mm;
    border-collapse: collapse;
    margin: -15mm -8.13953488372093% 0 -8.13953488372093%
}

#JSFiddle table.wide > tbody {
    display: inline-table;
    width: 210mm;
    padding-left: 8.13953488372093%;
    padding-right: 8.13953488372093%
}

#JSFiddle td.left {
    width: 50%;
    vertical-align: top;
    background: #800;
    border-right: 4px solid #000;
    color: #fff;
    padding-left: 7%;
    padding-bottom: 2em
}

#JSFiddle td.right {
    width: 50%;
    vertical-align: top;
    background: #eee;
    border-left: 4px solid #000;
    line-height: 2em
}

#JSFiddle div.blocks {
    padding-top: 175.65px
}
{{pass}}



{{if request.args(1)=='3':}}
#JSFiddle table.person {
    margin-left: -0.3em
}

#JSFiddle td.firstname {
    font-size: 3em;
    height: .5em;
    padding: 0
}

#JSFiddle td.lastname {
    font-size: 5em;
    height: 1em;
    padding: .05em 0;
    line-height: 1em
}

#JSFiddle div.block p {
    line-height: 1.2em;
    margin: 0 0 .6em
}

#JSFiddle div.block p.person {
    font-size: 4em;
    margin-bottom: 0
}

#JSFiddle div.block p.sub-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 .2em
}

#JSFiddle div.block p.sub-where {
    font-size: 1.1em;
    margin: 0 0 .2em
}

#JSFiddle div.block p.sub-dates {
    font-size: 1em;
    color: #555;
    margin: 0 0 .5em
}

#JSFiddle div.block p.jobtitle {
    font-size: 1.2em;
    margin: .6em 0 .2em
}

#JSFiddle div.block p.location {
    font-size: 1em;
    color: #555
}

#JSFiddle div.block span.company {
    color: #555;
    font-weight: bold
}

#JSFiddle div.block p.title {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: .5em;
    padding-bottom: .2em;
    border-bottom: .2em solid #ddd
}

#JSFiddle div.blocks * {
    line-height: 1.4em;
}

#JSFiddle table.wide {
    width: 100%;
    border-collapse: collapse
}

#JSFiddle td.left {
    width: 65%;
    vertical-align: top
}

#JSFiddle td.right {
    width: 35%;
    vertical-align: top;
    text-align: right
}
{{pass}}



{{if request.args(1)=='4':}}
#JSFiddle div.block p {
    line-height: 1.4em;
    margin: 0 0 .6em
}

#JSFiddle div.block p.sub-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0
}

#JSFiddle div.block p.sub-where {
    font-size: 1.1em;
    margin: 0
}

#JSFiddle div.block p.sub-dates {
    font-size: 1em;
    color: #555;
    margin: 0 0 .5em
}

#JSFiddle div.block p.person {
    font-size: 4em;
    margin-bottom: 0;
    line-height: 1.2em;
    margin-top: -.2em;
}

#JSFiddle div.block p.jobtitle {
    font-size: 1.2em;
    margin: 0
}

#JSFiddle div.block p.location {
    font-size: 1em;
    color: #555;
    margin: 0
}

#JSFiddle div.block span.company {
    color: #555;
    font-weight: bold
}

#JSFiddle div.block p.title {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 .5em 0;
    padding: .2em;
    text-transform: uppercase;
    border-top: .2em dotted #aaa
}

#JSFiddle div.blocks {
    margin-top: 1em
}

#JSFiddle div.block-inner {
    margin-left: 2em
}

#JSFiddle table.wide {
    width: 100%;
    border-collapse: collapse
}

#JSFiddle td.left {
    width: 65%;
    vertical-align: top
}

#JSFiddle td.right {
    width: 35%;
    vertical-align: top;
    text-align: right
}
{{pass}}



{{if request.args(1)=='5':}}
#JSFiddle div.block p {
    line-height: 1.4em;
    margin: 0 0 .6em
}

#JSFiddle div.block p.sub-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0
}

#JSFiddle div.block p.sub-where {
    font-size: 1.1em;
    margin: 0
}

#JSFiddle div.block p.sub-dates {
    font-size: 1em;
    color: #555;
    margin: 0 0 .5em
}

#JSFiddle div.block p.person {
    font-size: 4em;
    margin-bottom: 0;
    line-height: 1.2em;
    margin-top: -.2em;
}

#JSFiddle div.block p.jobtitle {
    font-size: 1.2em;
    margin: 0
}

#JSFiddle div.block p.location {
    font-size: 1em;
    color: #555;
    margin: 0
}

#JSFiddle div.block span.company {
    color: #555;
    font-weight: bold
}

#JSFiddle div.block p.title {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 .5em 0;
    padding: .2em;
    text-transform: uppercase;
    border-bottom: .25em solid #bbb
}

#JSFiddle div.blocks {
    margin-top: 1em
}

#JSFiddle div.block-inner {
    margin-left: 2em
}

#JSFiddle table.wide {
    width: 100%;
    border-collapse: collapse
}

#JSFiddle td.left {
    width: 65%;
    vertical-align: top
}

#JSFiddle td.right {
    width: 35%;
    vertical-align: top;
    text-align: right
}
{{pass}}



{{if request.args(1)=='6':}}
#JSFiddle div.block p {
    line-height: 1.4em;
    margin: 0 0 .6em
}

#JSFiddle div.block p.sub-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0
}

#JSFiddle div.block p.sub-where {
    font-size: 1.1em;
    margin: 0
}

#JSFiddle div.block p.sub-dates {
    font-size: 1em;
    color: #555;
    margin: 0 0 .5em
}

#JSFiddle div.block p.person {
    font-size: 4em;
    margin-bottom: 0;
    line-height: 1.2em;
    margin-top: -.2em;
}

#JSFiddle div.block p.jobtitle {
    font-size: 1.2em;
    margin: 0
}

#JSFiddle div.block p.location {
    font-size: 1em;
    color: #555;
    margin: 0
}

#JSFiddle div.block span.company {
    color: #555;
    font-weight: bold
}

#JSFiddle div.block p.title {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 .5em 0;
    padding: 0 .5em .1em;
    text-transform: uppercase;
    background: #ddd;
    border: 1px solid #ddd;
    -moz-border-radius: 0 0 1.3em 0;
    -webkit-border-radius: 0 0 1.3em 0;
    border-radius: 0 0 1.3em 0;
    border-bottom-right-radius: 1.3em
}

#JSFiddle div.blocks {
    margin-top: 1em
}

#JSFiddle div.block-inner {
    margin-left: 2em
}

#JSFiddle td.block-title {
    width: 50%;
    padding: 0;
    border-top: .2em solid #ddd
}

#JSFiddle table.wide {
    width: 100%;
    border-collapse: collapse
}

#JSFiddle table.wide.title {
    page-break-inside: avoid;
    page-break-after: avoid
}

#JSFiddle td.left {
    width: 65%;
    vertical-align: top
}

#JSFiddle td.right {
    width: 35%;
    vertical-align: top;
    text-align: right
}
{{pass}}



{{if request.args(1)=='7':}}
#JSFiddle div.block p {
    line-height: 1.4em;
    margin: .5em 0 .6em
}

#JSFiddle div.block p.sub-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0
}

#JSFiddle div.block p.sub-where {
    font-size: 1.1em;
    margin: 0
}

#JSFiddle div.block p.sub-dates {
    font-size: 1em;
    color: #555;
    margin: 0 0 .5em
}

#JSFiddle div.block p.person {
    font-size: 4em;
    margin-bottom: 0;
    line-height: 1.2em;
    margin-top: -.2em;
}

#JSFiddle div.block p.jobtitle {
    font-size: 1.2em;
    margin: 0
}

#JSFiddle div.block p.location {
    font-size: 1em;
    color: #555;
    margin: 0
}

#JSFiddle div.block span.company {
    color: #555;
    font-weight: bold
}

#JSFiddle div.block p.title {
    font-size: 140%;
    font-weight: bold;
    margin: 0 0 .5em 0;
    padding: .2em 0;
    text-transform: uppercase
}

#JSFiddle div.blocks {
    margin-top: 1em
}

#JSFiddle table.wide {
    width: 100%;
    border-collapse: collapse
}

#JSFiddle td.left {
    width: 65%;
    vertical-align: top
}

#JSFiddle td.right {
    width: 35%;
    vertical-align: top;
    text-align: right
}

#JSFiddle td.left0 {
    width: 35%;
    vertical-align: top
}

#JSFiddle td.right0 {
    width: 65%;
    vertical-align: top
}
{{pass}}



{{if request.args(1)=='8':}}
#JSFiddle div.block p {
    line-height: 1.4em;
    margin: 0 0 .6em
}

#JSFiddle div.block p.sub-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0
}

#JSFiddle div.block p.sub-where {
    font-size: 1.1em;
    margin: 0
}

#JSFiddle div.block p.sub-dates {
    font-size: 1em;
    color: #555;
    margin: 0 0 .5em
}

#JSFiddle div.block p.person {
    font-size: 4em;
    margin-bottom: 0;
    line-height: 1.2em;
    margin-top: -.2em;
}

#JSFiddle div.block p.jobtitle {
    font-size: 1.2em;
    margin: 0
}

#JSFiddle div.block p.location {
    font-size: 1em;
    color: #555;
    margin: 0
}

#JSFiddle div.block span.company {
    color: #555;
    font-weight: bold
}

#JSFiddle div.block p.title {
    font-size: 140%;
    font-weight: bold;
    margin: 0 0 .5em 0;
    padding: .2em .5em;
    text-transform: uppercase;
    border-bottom: .4em solid #ddd
}

#JSFiddle div.blocks {
    margin-top: 1em
}

#JSFiddle table.wide {
    width: 100%;
    border-collapse: collapse
}

#JSFiddle td.left {
    width: 65%;
    vertical-align: top
}

#JSFiddle td.right {
    width: 35%;
    vertical-align: top;
    text-align: right
}

#JSFiddle td.left0 {
    width: 35%;
    vertical-align: top;
    padding: 0
}

#JSFiddle td.right0 {
    width: 65%;
    vertical-align: top;
    border-left: .5em solid #ddd;
    padding-left: .8em
}
{{pass}}



{{if request.args(1)=='9':}}
#JSFiddle div.block p {
    line-height: 1.4em;
    margin: .5em 0 .6em
}

#JSFiddle div.block p.sub-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0
}

#JSFiddle div.block p.sub-where {
    font-size: 1.1em;
    margin: 0
}

#JSFiddle div.block p.sub-dates {
    font-size: 1em;
    color: #555;
    margin: 0 0 .5em
}

#JSFiddle div.block p.person {
    font-size: 4em;
    margin-bottom: 0;
    line-height: 1.2em;
    margin-top: -.2em;
}

#JSFiddle div.block p.jobtitle {
    font-size: 1.2em;
    margin: 0
}

#JSFiddle div.block p.location {
    font-size: 1em;
    color: #555;
    margin: 0
}

#JSFiddle div.block span.company {
    color: #555;
    font-weight: bold
}

#JSFiddle div.block p.title {
    font-size: 140%;
    font-weight: bold;
    margin: 0 0 .5em 0;
    padding: .2em .5em;
    text-transform: uppercase;
    background: #ddd
}

#JSFiddle div.blocks {
    margin-top: 1em
}

#JSFiddle table.wide {
    width: 100%;
    border-collapse: collapse
}

#JSFiddle td.left {
    width: 65%;
    vertical-align: top
}

#JSFiddle td.right {
    width: 35%;
    vertical-align: top;
    text-align: right
}

#JSFiddle td.left0 {
    width: 35%;
    vertical-align: top;
    padding: 0
}

#JSFiddle td.right0 {
    width: 65%;
    vertical-align: top;
    border-left: .5em solid #ddd;
    padding-left: .8em
}
{{pass}}



{{if request.args(1)=='10':}}
#JSFiddle div.block p {
    line-height: 1.4em;
    margin: 0 0 .6em
}

#JSFiddle div.block p.sub-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0
}

#JSFiddle div.block p.sub-where {
    font-size: 1.1em;
    margin: 0
}

#JSFiddle div.block p.sub-dates {
    font-size: 1em;
    color: #555;
    margin: 0 0 .5em
}

#JSFiddle div.block p.person {
    font-size: 4em;
    margin-bottom: 0;
    line-height: 1.2em;
    margin-top: -.2em;
}

#JSFiddle div.block p.jobtitle {
    font-size: 1.2em;
    margin: 0
}

#JSFiddle div.block p.location {
    font-size: 1em;
    color: #555;
    margin: 0
}

#JSFiddle div.block span.company {
    color: #555;
    font-weight: bold
}

#JSFiddle div.block p.title {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 .5em 0;
    padding: .1em .5em;
    text-transform: uppercase;
    background: #ddd;
    border-left: .2em solid #999;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    border-bottom-left-radius: .5em
}

#JSFiddle div.blocks {
    margin-top: 1em
}

#JSFiddle div.child {
    border-bottom: .2em dotted #bbb;
    padding-bottom: 1em
}

#JSFiddle div.last-child {
    border-bottom: none;
    padding-bottom: 0
}

#JSFiddle div.block-inner {
    margin-left: 2em
}

#JSFiddle table.wide {
    width: 100%;
    border-collapse: collapse
}

#JSFiddle td.left {
    width: 65%;
    vertical-align: top
}

#JSFiddle td.right {
    width: 35%;
    vertical-align: top;
    text-align: right
}
{{pass}}



{{if request.args(1)=='11':}}
#JSFiddle div.block p {
    line-height: 1.4em;
    margin: 0 0 .6em
}

#JSFiddle div.block p.sub-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0
}

#JSFiddle div.block p.sub-where {
    font-size: 1.1em;
    margin: 0
}

#JSFiddle div.block p.sub-dates {
    font-size: 1em;
    color: #555;
    margin: 0 0 .5em
}

#JSFiddle div.block p.person {
    font-size: 4em;
    margin-bottom: 0;
    line-height: 1.2em;
    margin-top: -.2em;
}

#JSFiddle div.block p.jobtitle {
    font-size: 1.2em;
    margin: 0
}

#JSFiddle div.block p.location {
    font-size: 1em;
    color: #555;
    margin: 0
}

#JSFiddle div.block span.company {
    color: #555;
    font-weight: bold
}

#JSFiddle div.block p.title {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 .5em 0;
    padding: .1em .3em;
    text-transform: uppercase;
    border-top: .2em solid #bbb
}

#JSFiddle div.blocks {
    margin-top: 1em
}

#JSFiddle div.child {
    padding-left: 1.5em;
    border-left: .2em dotted #bbb
}

#JSFiddle div.last-child {
    padding-left: 1.5em;
    border-left: .2em dotted #bbb
}

#JSFiddle div.circle {
    border: .1px solid #659AD3;
    background: #659AD3;
    width: 1.2em;
    height: 1.2em;
    float: left;
    margin-top: .3em;
    margin-left: -2.2em;
    -moz-border-radius: .6em;
    -webkit-border-radius: .6em;
    border-radius: .6em;
    border-top-left-radius: .6em;
    border-top-right-radius: .6em;
    border-bottom-right-radius: .6em;
    border-bottom-left-radius: .6em
}

#JSFiddle div.block-inner {
    margin-left: 2em
}

#JSFiddle table.wide {
    width: 100%;
    border-collapse: collapse
}

#JSFiddle td.left {
    width: 65%;
    vertical-align: top
}

#JSFiddle td.right {
    width: 35%;
    vertical-align: top;
    text-align: right
}
{{pass}}



{{if request.args(1)=='12':}}
#JSFiddle div.block p {
    line-height: 1.4em;
    margin: 0 0 .6em
}

#JSFiddle div.block p.sub-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0
}

#JSFiddle div.block p.sub-where {
    font-size: 1.1em;
    margin: 0
}

#JSFiddle div.block p.sub-dates {
    font-size: 1em;
    color: #555;
    margin: 0 0 .5em
}

#JSFiddle div.block p.person {
    font-size: 4em;
    margin-bottom: 0;
    line-height: 1.2em;
    margin-top: -.2em;
}

#JSFiddle div.block p.jobtitle {
    font-size: 1.2em;
    margin: 0
}

#JSFiddle div.block p.location {
    font-size: 1em;
    color: #555;
    margin: 0
}

#JSFiddle div.block span.company {
    color: #555;
    font-weight: bold
}

#JSFiddle div.block p.title {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 .5em 0;
    padding: .1em .3em;
    text-transform: uppercase;
    background: #eee
}

#JSFiddle div.blocks {
    margin-top: 1em
}

#JSFiddle div.block-inner {
    margin-left: 2em
}

#JSFiddle td.sub-left {
    width: 35%;
    text-align: right;
    vertical-align: top;
    padding-right: 2em
}

#JSFiddle td.sub-right {
    width: 65%;
    padding: .3em 0;
    vertical-align: top
}

#JSFiddle div.child {
    border-bottom: .2em solid #bbb;
    padding-bottom: .7em
}

#JSFiddle div.last-child {
    border: none;
    padding-bottom: 0
}

#JSFiddle table.wide {
    width: 100%;
    border-collapse: collapse
}

#JSFiddle td.left {
    width: 65%;
    vertical-align: top
}

#JSFiddle td.right {
    width: 35%;
    vertical-align: top;
    text-align: right
}
{{pass}}
</style>
{{for i in f:}}
{{if request.args(1)=='2':}}
<div class="form" id="JSFiddle">
<table class="wide">
    <tbody>
        <tr>
            <td class="left">
                <div style="font-family: Roboto Condensed; margin-bottom: 1em;" class="block person" data-category="person">
                    <p class="person nam1" id="nam" style="text-align:left;">{{=i.name}}</p>
                </div>
            </td>
            <td class="right">
                <div style="margin-bottom: 1em;" class="block contact" data-category="contact">
                    <div class="html-content e1" id="emai">{{=i.email}}</div>
                        <br><span class="html-content ph1" id="ph">{{=i.phone}}</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="blocks">
    <div style="margin-bottom: 1em;" class="block" data-category="text" data-children="" data-id="0">
        <p style="font-family: Roboto Condensed;" class="title">Summary</p>
        <div class="block-inner">
            <div class="html-content sum1" id="su1">{{=i.summary}}</div>
        </div>
    </div>
    <div style="margin-bottom: 1em;" class="block" data-category="experience" data-children="2" data-id="1">
        <p style="font-family: Roboto Condensed;" class="title">Work Experience</p>
        <div class="block-inner">
            <div style="margin-bottom: 1em;" class="child" data-id="1c0" data-category="experience">
                <div class="html-content work1" id="wo1">{{=i.works}}</div>
            </div>
            <div class="html-content"><b>Skill Set -</b><span class="html-content work2" id="wo2">{{=i.skills}}</span></div>
        </div>
    </div>
    <div style="margin-bottom: 1em;" class="block" data-category="education" data-children="1" data-id="2">
        <p style="font-family: Roboto Condensed;" class="title">Education</p>
        <div class="block-inner">
            <div style="margin-bottom: 1em;" class="last-child" data-id="2c0" data-category="education">
                <div class="html-content edu1" id="ed1">{{=i.education}}</div>
                <br>
                <div class="html-content">
                Your GPA -<b><span class="html-content edu2" id="ed2">{{=i.gpa}}</span></b>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 1em;" class="block" data-category="text" data-children="" data-id="3">
        <p style="font-family: Roboto Condensed;" class="title">Additional Information</p>
        <div class="block-inner">
            <div class="html-content add1" id="ad1">{{=i.addinfo}}</div>
        </div>
    </div>
</div>
</div>
{{elif request.args(1)=='7' or request.args(1)=='8' or request.args(1)=='9':}}
<div class="form" id="JSFiddle">
<table class="wide">
        <tbody>
            <tr>
                <td class="left">
                    <div style="font-family: Roboto Condensed; margin-bottom: 1em;" class="block person" data-category="person">
                        <p class="person nam1" id="nam">{{=i.name}}</p>
                    </div>
                </td>
                <td class="right">
                    <div style="margin-bottom: 1em;" class="block contact" data-category="contact">
                        <div class="html-content e1" id="emai">{{=i.email}}</div>
                        <br>
                        <span class="html-content ph1" id="ph">{{=i.phone}}</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="blocks">
        <div style="margin-bottom: 1em;" class="block" data-category="text" data-children="" data-id="0">
            <table class="wide">
                <tbody>
                    <tr>
                        <td class="left0">
                            <p style="font-family: Roboto Condensed;" class="title">Summary</p>
                        </td>
                        <td class="right0">
                            <div class="block-inner">
                                <div class="html-content sum1" id="su1">{{=i.summary}}</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="margin-bottom: 1em;" class="block" data-category="experience" data-children="2" data-id="1">
            <table class="wide">
                <tbody>
                    <tr>
                        <td class="left0">
                            <p style="font-family: Roboto Condensed;" class="title">Work Experience</p>
                        </td>
                        <td class="right0">
                            <div class="block-inner">
                                <div class="html-content work1" id="wo1">{{=i.works}}</div>
                    <br>
                    <div class="html-content"><b>Skill Set -</b><span class="html-content work2" id="wo2">{{=i.skills}}</span></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="margin-bottom: 1em;" class="block" data-category="education" data-children="1" data-id="2">
            <table class="wide">
                <tbody>
                    <tr>
                        <td class="left0">
                            <p style="font-family: Roboto Condensed;" class="title">Education</p>
                        </td>
                        <td class="right0">
                            <div class="block-inner">
                                <div class="html-content edu1" id="ed1">{{=i.education}}</div>
                    <br>
                    <div class="html-content">Your GPA -<b><span class="html-content edu2" id="ed2">{{=i.gpa}}</span></b></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="margin-bottom: 1em;" class="block" data-category="text" data-children="" data-id="3">
            <table class="wide">
                <tbody>
                    <tr>
                        <td class="left0">
                            <p style="font-family: Roboto Condensed;" class="title">Additional Information</p>
                        </td>
                        <td class="right0">
                            <div class="block-inner">
                                <div class="html-content add1" id="ad1">{{=i.addinfo}}</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{{else:}}


<div class="form" id="JSFiddle">
    <table class="wide">
        <tbody>
            <tr>
                <td class="left">
                    <div class="block person" data-category="person" style="font-family: 'Roboto Condensed'; margin-bottom: 1em;">
                        <p class="person nam1" id="nam">{{=i.name}}</p>
                    </div>
                </td>
                <td class="right">
                    <div class="block contact" data-category="contact" style="margin-bottom: 1em;">
                        <div class="html-content e1" id="emai">{{=i.email}}</div>
                        <br>
                        <span class="html-content ph1" id="ph">{{=i.phone}}</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="blocks">
        <div class="block" data-category="text" data-children="" data-id="0" style="margin-bottom: 1em;">
            <table class="wide title" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="block-title">
                            <p class="title" style="font-family: 'Roboto Condensed';">Summary</p>
                        </td>
                        <td class="block-title"></td>
                    </tr>
                </tbody>
            </table>
            <div class="block-inner">
                <div class="html-content sum1" id="su1">{{=i.summary}}</div>
            </div>
        </div>
        <div class="block" data-category="experience" data-children="2" data-id="1" style="margin-bottom: 1em;">
            <table class="wide title" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="block-title">
                            <p class="title" style="font-family: 'Roboto Condensed';">Work Experience</p>
                        </td>
                        <td class="block-title"></td>
                    </tr>
                </tbody>
            </table>
            <div class="block-inner">
                <div class="child" data-id="1c0" data-category="experience" style="margin-bottom: 1em;">
                    <div class="html-content work1" id="wo1">{{=i.works}}</div>
                    <br>
                    <div class="html-content"><b>Skill Set -</b><span class="html-content work2" id="wo2">{{=i.skills}}</span></div>
                </div>
            </div>
        </div>
        <div class="block" data-category="education" data-children="1" data-id="2" style="margin-bottom: 1em;">
            <table class="wide title" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="block-title">
                            <p class="title" style="font-family: 'Roboto Condensed';">Education</p>
                        </td>
                        <td class="block-title"></td>
                    </tr>
                </tbody>
            </table>
            <div class="block-inner">
                <div class="last-child" data-id="2c0" data-category="education" style="margin-bottom: 1em;">
                    <div class="html-content edu1" id="ed1">{{=i.education}}</div>
                    <br>
                    <div class="html-content">Your GPA -<b><span class="html-content edu2" id="ed2">{{=i.gpa}}</span></b></div>
                </div>
            </div>
        </div>
        <div class="block" data-category="text" data-children="" data-id="3" style="margin-bottom: 1em;">
            <table class="wide title" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="block-title">
                            <p class="title" style="font-family: 'Roboto Condensed';">Additional Information</p>
                        </td>
                        <td class="block-title"></td>
                    </tr>
                </tbody>
            </table>
            <div class="block-inner">
                <div class="html-content add1" id="ad1">{{=i.addinfo}}</div>
            </div>
        </div>
    </div>
</div>
{{pass}}
{{pass}}
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="http://www.cloudformatter.com/Resources/Pages/CSS2Pdf/Script/xepOnline.jqPlugin.js"></script>
<div id="buttons">
    <button onclick="return xepOnline.Formatter.Format('JSFiddle', {render:'download'})">Generate PDF</button>
    <button onclick="return xepOnline.Formatter.Format('JSFiddle', {render:'embed', mimeType:'image/png'})">PNG @120dpi</button>
</div>
